* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.bg {
  position: absolute;
  top: 0%;
  height: 100vh !important;
  width: 100vw;
  z-index: 99;
}

.landingpg {
  height: 28vh;
  width: 100%;
  text-align: center;
  margin-top: 28vh;
}

.animatedtext {
  display: inline;
  font-size: 3.5em;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
.animatedtwotext {
  display: inline;
  font-size: 3em;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.typed-cursor {
  font-size: 3.5em;
  color: white;
}

@media screen and (max-width: 700px) {
  .animatedtext {
    font-size: 2.5em;
  }
  .animatedtwotext {
    font-size: 2em;
  }
  .typed-cursor {
    font-size: 2.5em;
  }
}
