body {
  scroll-behavior: all;
}

.sidenav {
  height: 100vh;
  width: 64.3vh;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -64.3vh;
  margin: 0 auto;
  background-image: url('../images/Image1.png');
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
  transition: 0.5s;
}
@media screen and (max-width: 600px) {
  .sidenav {
    min-height: 100vh;
    width: 100vw;
    left: -100vw;
    background-size: cover;
  }
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 5vh;
  font-size: 72px;
  text-align: right;
}
.Navdata {
  position: absolute;
  margin-top: 50%;
  margin-left: 40%;
  transform: translateX(-40%);
}
.Navicon {
  position: fixed;
  z-index: 1000;
  left: 4vh;
  top: 1vh;
}

#navicon {
  font-size: 50px;
  cursor: pointer;
  color: white;
}
